
<div class="navbar navbar-expand-md navbar-dark bg-dark mb-4" role="navigation">
  <a class="navbar-brand" href="#">Customer Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="onOpenModal('add')"  >Add Customer<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" id="searchName" type="search" (ngModelChange)="searchCustomers(key.value)" #key="ngModel" ngModel name="key" placeholder="Search Customers..." aria-label="Search">
    </form>
  </div>
</div>

<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let customer of customers" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6">
            <h5>{{customer?.id}}</h5>
          </div>
          <div class="col-6">
            <a href=""><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="img-fluid rounded-circle w-60"></a>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h5>{{customer?.firstName}} {{customer?.middleName}} {{customer?.lastName}} </h5>
            <p class="m-0">Date of Birth: </p>
            <p class="m-0">{{customer?.dateOfBirth | date:'dd-MM-yyyy'}}</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a href="#">PaulGoyette@gmail.com</a></li>
          <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : 000 123-456</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a (click)="onOpenModal('edit',customer)" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            <a (click)="onOpenModal('delete',customer)" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Customer  -->
<div class="modal fade" id="addCustomerModal" tabindex="-1" role="dialog" aria-labelledby="addCustomerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCustomerModalLabel">Add Customer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <form #addForm="ngForm" (ngSubmit)="onAddCustomer(addForm)">
      <div class="modal-body">
          <div class="form-group">
            <label for="addFirstName">First Name:</label>
            <input type="text" ngModel name="firstName" class="form-control" id="addFirstName" placeHolder="firstName" >
          </div>
          <div class="form-group">
            <label for="addMiddleName">Middle Name:</label>
            <input type="text" ngModel name="middleName" class="form-control" id="addMiddleName" placeHolder="middleName" >
          </div>
          <div class="form-group">
            <label for="addLastName">Last Name:</label>
            <input type="text" ngModel name="lastName" class="form-control" id="addLastName" placeHolder="lastName" >
          </div>
          <div class="form-group">
            <label for="addDateOfBirth">Date Of Birth:</label>
            <input type="date" ngModel name="dateOfBirth" class="form-control" id="addDateOfBirth" placeHolder="dateOfBirth" >
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" id="add-customer-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>

    </div>
  </div>
</div>

<!-- Edit Customer  -->
<div class="modal fade" id="editCustomerModal" tabindex="-1" role="dialog" aria-labelledby="addCustomerModalLabel" aria-hidden="true" >
  <div class="modal-dialog"  role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editCustomerModalLabel">Edit Customer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <form #editForm="ngForm" >
      <div class="modal-body">
        <div class="form-group">
          <input type="hidden" ngModel="{{editCustomer?.id}}" name="id" class="form-control" id="editId" placeHolder="editId" >
        </div>
           <div class="form-group">
            <label for="editFirstName">First Name:</label>
            <input type="text" ngModel="{{editCustomer?.firstName}}"name="firstName" class="form-control" id="editFirstName" placeHolder="editFirstName" >
          </div>
          <div class="form-group">
            <label for="editMiddleName">Middle Name:</label>
            <input type="text" ngModel="{{editCustomer?.middleName}}" name="middleName" class="form-control" id="editMiddleName" placeHolder="editMiddleName" >
          </div>
          <div class="form-group">
            <label for="editLastName">Last Name:</label>
            <input type="text" ngModel="{{editCustomer?.lastName}}" name="lastName" class="form-control" id="editLastName" placeHolder="editLastName" >
          </div>
          <div class="form-group">
            <label for="editDateOfBirth">Date Of Birth:</label>
            <input type="date" name="dateOfBirth" ngModel="{{editBirthdate}}" class="form-control" id="editDateOfBirth" placeHolder="editDateOfBirth" >
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" id="edit-customer-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="onUpdateCustomer(editForm.value)" type="submit" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- Delete Customer  -->
<div class="modal fade" id="deleteCustomerModal" tabindex="-1" role="dialog" aria-labelledby="deleteCustomerModalLabel"  >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteCustomerModalLabel">Delete Customer</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete customer {{deleteCustomer?.lastName}}?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="onDeleteCustomer(deleteCustomer!.id)"  type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Notification for no employees -->
<div *ngif="customers?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO EMPLOYEES!</h4>
    <p>No Employees were found.</p>
  </div>
</div>
